@font-face {
  font-family: NORSE-BOLD;
  src: url(/assets/Norse-Bold.otf);
}
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-rows: 100dvh;
  grid-template-columns: 30dvw 70dvw;
}

.right {
  display: grid;
  grid-template-rows: 30% 40% 30%;
  grid-template-columns: 100%;
}

.x-100 {
  width: 100%;
  height: 100%;
}

.left {
  background-color: lightgray;
}

.right {
  background-color: lightblue;
}

.r-top {
  background-color: lightcoral;
}

.r-middle {
  background-color: lightgoldenrodyellow;
}

.r-bottom {
  background-color: lightpink;
}
